

.starter_template{
	padding: 40px 15px;
	text-align: center;

}
.form_login{
    margin: 10px;
    width: 200px;
    display: inline-block;

}
.f_input{
	padding: 10px;
}
.form_register{
	padding: 10px ;
}

.some-class{
	padding: 10px;
}

.about{
	width: 500px;
	height: 100px

}