{%  extends 'main.html' %}
{% load staticfiles %}


{% block component %}

<div >
	<h1> Mywaysmile</h1>
</div>
<div >
	<form action="/login/" method="post">
		{%csrf_token%}
	
		<div>
		<input type="text" placeholder="Эл. почта" name="username" id="username" class="form-control form_login">
		</div>
		
		<div>
		<input type="password" placeholder="Пароль" name="password" id="password" class="form-control form_login">
		</div>
		{% if login_error%}
			<label >{{login_error}}</label>
		{% endif %}
		<div>
		<input class="btn btn-success" type="submit" value="Войти">
		</div>
	</form>
</div>

{% endblock %}